[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/SuperTab--Van-Dewoestine"]
	path = bundle/SuperTab--Van-Dewoestine
	url = https://github.com/vim-scripts/SuperTab--Van-Dewoestine.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = git://github.com/duff/vim-scratch.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/vim-matrix-screensaver"]
	path = bundle/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
